<div class="container-fluid">
  <div class="horizontal-scroll-wrapper squares">
    <div>
      <div class="card card1">
        <h1 class="display-2">WEB DEVELOPMENT</h1>
        <br>
        <div class="incard">
          <div class="container-fluid">
            <ul>
              <li>ANGULAR JS</li>
              <li>PHP</li>
              <li>CSS</li>
              <li>JAVASCRIPT</li>
              <li>DJANGO</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card2">
        <h1 class="display-2">DATA SCIENCE</h1>
        <br>
        <div class="incard">
          <div class="container-fluid">
            <ul>
              <li>PYTORCH</li>
              <li>NUMPY</li>
              <li>PANDAS</li>
              <li>MATPLOTLIB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card3">
        <h1 class="display-2">EDUCATION</h1>
        <br>
        <div class="incard">
          <div class="container-fluid">
            <ul>
              <li>B.Tech (KIIT University) 7.93 CGPA</li>
              <li>12th (CBSE Board) 80.6%</li>
              <li>10th (CBSE Board) 8.6 CGPA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

