<div class="container-fluid">
  <div class="horizontal-scroll-wrapper squares">
    <div>
      <div class="card card1">
        <h1 class="display-2">TRAININGS</h1>
        <br>
        <div class="incard">
          <div class="container-fluid">
            <ul style="font-size: 3vw">
              <li>WEB DEVELOPMENT USING PHP<br><span style="font-size: 2vw">AN ON SITE TRAINING PROGRAMME WHICH INCLUDED
                ADVANCED HTML, CSS, BOOTSTRAP AND JAVASCRIPT</span></li>
              <li>MACHINE LEARNING<br><span style="font-size: 2vw">AN ONLINE TRAINING ON COURSERA WHICH FOCUSED COMPLETELY ON
                HARDCODED MACHINE LEARNING ALGORITHMS IN PYTHON</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-anim">
        <h1 class="display-2">PHOTOGRAPHY</h1>
        <br>
        <span style="font-size: 3vw">I'VE GOT A NIKON D3300 AND LOVE TO CAPTURE THOSE AMAZING
        MOMENTS WHENEVER I GO ON A TRIP.</span>
      </div>
    </div>
    <div>
      <div class="card card3">
        <h1 class="display-2">EDUCATION</h1>
        <br>
        <div class="incard">
          <div class="container-fluid">
            <ul>
              <li>B.Tech (KIIT University) 7.93 CGPA</li>
              <li>12th (CBSE Board) 80.6%</li>
              <li>10th (CBSE Board) 8.6 CGPA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
